<div id="post-offer-{{ offer.id }}" class="col-lg-12 post-mini">
    <div class="media-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if offer.ribbon.logo_url %}
                <img
                    class="ribbon-icon"
                    alt="64x64"
                    src="{{ offer.ribbon.logo_url }}"
                >
                {% endif %}
                <strong style="padding-left: 5px;">{{ offer.ribbon.title }}</strong>
            </div>
            <div class="panel-body">
                {% if offer.images %}
                <img alt="{{ offer.title }}" src="{{ offer.images.0 }}" style="margin-bottom: 10px;">
                {% endif %}
                <div class="small panel-content">
                    <strong class="title">{{ offer.title }}</strong>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <a
                            class="btn btn-primary btn-sm btn-block"
                            href="{{ offer.url }}?from=index"
                            onclick="return showModal('{{ offer.id }}');"
                        >
                            <strong>Показать полностью</strong>
                        </a>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="panel-footer">
                ***
            </div>
        </div>
    </div>
</div>